body {
	padding: 40px;
	background-color: #555;
}
.bodo {
	background-color: white;
}
.row-fluid [class*="span"] {
	margin-left: 2px;
	min-height: 60px;
}
.ss-container {
	position: relative;
	width: 100%;
}
.ss-container div {
	min-height: 50px;
	min-width: 50px;
	position: absolute;
}
.title {
	margin-bottom: 2px;
	text-align: bottom;
}
