table.bodo
    tr
        each phase in boards[0].phases
            th.title
                h4.text-center= phase.title
    tr
        each phase in boards[0].phases
            td.column
                .well.ss-container
                     include kanban
