#cardModal.modal.hide.fade(tabindex="-1" role="dialog" aria-labeledby="modalLabel" aria-hidden="true")
  .modal-header
    button(type="button" class="close" data-dismiss="modal" aria-hidden="true")x
    h3#modalLabel Edit Card
  .modal-body
    p Begin Card Edit Form
  .modal-footer
    button.btn(data-dismiss="modal" aria-hidden="true")Close
