.container-fluid.bodo
    .row-fluid
        .ss-board.span12
            each phase in boards[0].phases
                .ss-column
                    .row-fluid.title
                        .span12
                             h4.text-center= phase.title
                    .row-fluid.column
                        .span12.well.ss-container
                             include kanban
