.container-fluid
    .row-fluid.bodo
        each phase in boards[0].phases
            .span2
                .row-fluid
                    .well.well-small
                        .span2.title
                            h4.text-center= phase.title
                .row-fluid
                    .well
                        .span2.column
                            include kanban
