body(ng-controller="BoardCtrl")
    .bodo
        .container-fluid
            .row-fluid
                .span2.well.well-small.title.text-center(ng-repeat="phase in board.phases")
                    strong{{phase.title}}
            .row-fluid 
                .span2.well.well-small.ss-container(ng-repeat="phase in board.phases")
                    include kanban
