.container-fluid.bodo
    .row-fluid
        each phase in boards[0].phases
            .span2
                .row-fluid.title
                    .span12
                         h4.text-center= phase.title
                .row-fluid.column
                    .span12.well.container
                         include kanban
