.bodo
    .container-fluid
        .row-fluid
            each phase in boards[0].phases
                .span2.well.well-small.title
                    strong.text-center= phase.title
        .row-fluid 
            each phase in boards[0].phases
                .span2.well.well-small.ss-container
                    include kanban
