.row-fluid.bodo
    each phase in boards[0].phases
        .span2
            .row-fluid
                .span2.title.well.well-small
                    span.text-center= phase.title
            .row-fluid
                .span2.container.well.well-small
                    include kanban
