body    
    .bodo(ng-controller="BoardCtrl")
        .container-fluid
            .row-fluid
                .span12
                    ol.board.unstyled.inline
                        li.column(ng-repeat="phase in board.phases")
                            .well.well-small.title.text-center                    
                                strong{{phase.title}}
                            .well.well-small.card-container 
                                ol.unstyled
                                    li(ng-repeat="card in cards | byPhase:phase.phase")
                                        .card
                                            strong{{card.title}}
                                            em.text-right{{card.user}}
                                            p{{card.story}}
