.row.bodo
    each phase in boards[0].phases
        .span2
            .row
                .well.well-small
                    .span2.title
                        h4.text-center= phase.title
            .row
                .well.well-small
                    .span2.column
                        include kanban
