.row.bodo
    each phase in boards[0].phases
        .span2.col
            .row.title.well.well-small
                h4.text-center= phase.title
            .row.container.well.well-small
                include kanban
