.row.bodo
    each phase in board.phases
        .span2.col
            .title.well.well-small
                h4.text-center= phase.title
            .container.well.well-small
                include kanban
