.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        a.brand(href='#') Bōdo
        p.text-centered.brand= boards[0].title
        .btn-group
            button.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown" href="#")
                Boards
                span.caret
            ul.dropdown-menu
                each board in boards
                    a(href='#')= board.title
