head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title bodo
    link(href='externs/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='externs/bootstrap-editable/css/bootstrap-editable.css', rel='stylesheet')
    link(href='bodo.css', rel='stylesheet')
 
