head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title bodo
    link(href='/bootstrap/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='/css/app.css', rel='stylesheet')
