.navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
        a.brand(href='#') Bōdo
        h2.text-centered.brand Board Title 
        .btn-group
            button.btn.btn-inverse.dropdown-toggle(data-toggle="dropdown" href="#")
            ul.dropdown-menu
                    a(href='#') Board
