body {
	padding: 40px;
	background-color: #555;
}
.bodo {
	background-color: white;
}
.row-fluid [class*="span"] {
	margin-left: 2px;
	min-height: 60px;
}
.ss-container {
	position: relative;
	width: 100%;
}
.ss-container div {
	min-height: 50px;
	min-width: 50px;
	position: absolute;
}
.title {
	margin-bottom: 2px;
}
.card {
	padding: 5px;
	margin-bottom: 5px;
	border-style: solid;
	border-width: thin;
	border-color: black;
	min-width: 100px;
	min-height: 100px;
	max-width: 300px;
	max-height: 300px;
}
.card-container {
	min-height: 400px;
}
.board {
	display: table-row;
}
.column {
	display: table-cell !important;
}
